extends layoutBS

block content
  .margin
    h2 Trip Planner
    .margin2
      h4.text-center Start a new trip
      br
      form
        .form-row
          .form-group.col-md-6
            label(for="inputEmail4") Destination
            input#inputEmail4.form-control(type="country" placeholder="Country")
          .form-group.col-md-6
            label(for="inputPassword4") --
            input#inputPassword4.form-control(type="city" placeholder="City")
        .form-row
          .form-group.col-md-6
            label(for="inputDepature") Departure Date
            input#inputEmail4.form-control(type="date" placeholder="06.10.2018")
          .form-group.col-md-6
            label(for="inputArrival") Return Date
            input#inputPassword4.form-control(type="date" placeholder="06.10.2018")
        .form-group
          label(for="inputAirline") Airline
          select#inputState.form-control
            option(selected="") Choose...
            option Asiana Airline
            option Air New Zealand
            option Air France
            option Austrian Airlines
            option All Nippon Airlines
            option Cathay Pacific Airways
            option Delta Air Lines
            option Etihad Airways
            option EVA Air
            option JetBlue
            option Hainan Airline
            option Lufthansa
            option Japan Airlines
            option Qantas Airline
            option Qatar Airways
            option Singapore Airlines
            option Swiss International Air Lines
            option United Airlines
            option Thai Airways
            option Turkish Airlines
            option Virgin Australia
        .form-group
          label(for="inputHotel") Hotel
          input#inputCity.form-control(type="text")
        .form-group
          label(for="inputHotel") Travel purpose
          input#inputCity.form-control(type="text")
        button.btn.btn-primary.btn-lg(type="submit") Go
