extends layoutBS

block content
    .margin
      .margin3
        h3 Trip Planner
        .margin2
          hr
          .jumbotron
            img.card-img-topimg(src='/images/background.jpg' width='40%')
            h1.display-4 Choose your destination
            hr.my-4
            p
             | Like all great travellers, I have seen more than I remember, and remember more than I have seen.
             br
             |                                 - Benjamin Disraeli
             form(method="post")
              .input-group.mb-3
                input(name="place").form-control(type="text" placeholder="I want to go ..." length='40%' aria-label="Recipient's username" aria-describedby="basic-addon2")
                .input-group-append
                  button.btn.btn-outline-primary(type="search") Search
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
